{% block devices %}
       <div class="container-fluid">
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DEVICES</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>status</th>
                      <th>last active</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>status</th>
                      <th>last active</th>
                    </tr>
                  </tfoot>
                  <tbody>
{#                  {% for device in data %}#}
{#                      {{ device }}#}
{#                    <tr>#}
{#                    {% if device.status =='charging' %}#}
{#                        <td class="border-left-success"><strong><a href="device/{{ device.id }}"> {{ device.id }}</a></strong></td>#}
{#                      <td><span class="badge badge-pill badge-success">Charging</span></td>#}
{#                      <td>{{ device.battery }}</td>#}
{#                    {% else %}#}
{#                        <td class="border-left-danger"><a href="device/{{ device.id }}"> {{ device.id }}</a></td>#}
{#                      <td><span class="badge badge-pill badge-danger">Offline</span></td>#}
{#                      <td>{{ device.battery }}</td>#}
{#                    {% endif %}#}
{#                    </tr>#}
{#                  {% endfor %}#}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

    {{ data }}
{% endblock devices %}